<div class="main-add-content-inner">
  <p class="header-title inner-header inner-header-login" >
    Новая заявка
  </p>
  <form class="" ng-submit="addLead()">
    <label for="input-main" class="label label-main label-modified" >Описание заявки</label>
    <input type="text" name="name" class="input input-main input-modified" value="" placeholder="" ng-model="description">
    <label for="input-main" class="label label-main label-modified">Cумма заявки в тг.</label>
    <input type="number" name="name" class="input input-main input-modified" value="" placeholder="" ng-model="cost">
    <label for="input-main" class="label label-main label-modified">Выберите тип заявки</label>
    <div bs-dropdown class="select menu-select" id="selectedcontact">
              <span class="menu-select" ng-if="category=='Выберите категорию'">Выбрать категорию<i class="icon-angle-down"></i>
              </span>
              <span class="menu-select" ng-if="category!='Выберите категорию'">{{category}}<i class="icon-angle-down"></i>
              </span>
            </div>
            <ul class="dropdown-menu" role="menu">
                <li ng-click="selectCategory('Налоги')"><a>Налоги</a></li>
                <li ng-click="selectCategory('Cчет-фактура')"><a>Счет-фактура</a></li>
                <li ng-click="selectCategory('Бухгалтерский отчет')"><a>Бухгалтерский отчет</a></li>
            </ul><br>
    <div class="inner-form">
      <button class ="button button-login button-login-modified" type="submit">Добавить заявку<i class="icon-plus"></i></button>
    </div>

  </form>
</div>